.footer-container
  .footer
    .footer-left.light
      Agent Administration &copy; REA Group 2011, All rights reserved
    .footer-right
      %p
        = link_to "About Us", "http://www.rea-group.com/irm/content/about-rea.html", :target => "_blank"
        %span.divider.light
          |
        = link_to "Feedback", "http://www.realestate.com.au/cgi-bin/rsearch?a=feedback&t=ao-wel&to=suggestions", :target => "_blank"
        %span.divider.light
          |
        = link_to "Legal", "http://www.rs.realestate.com.au/terms", :target => "_blank"
        %span.divider.light
          |
        = link_to "Privacy", "http://www.realestate.com.au/cgi-bin/rsearch?a=v&t=ao-wel&id=587", :target => "_blank"