#header.ruiClearFix
  %ul
    %li.adHeader
      %img(src="/auth/assets/login/gfk_hdr_aadmin.gif" alt="Agent Administration")
    %li.rea
      %a(href="http://www.realestate.com.au/" target="_blank")
        %img(src="/auth/assets/login/gfk_hdr_lgo_rea.gif" alt="realestate.com.au" title="Visit realestate.com.au")
    %li.rca
      %a(href="http://www.realcommercial.com.au/" target="_blank")
        %img(src="/auth/assets/login/gfk_hdr_lgo_rcm.gif" alt="realcommercial.com.au" title="Visit realcommercial.com.au")
    %li.headerRightClear
      %img(src="/auth/assets/login/gfk_hdr_lgo_clear.gif")