#footer
  %ul
    %li.rea-link
      %span.footer ©
      %a.footer(href="http://www.realestate.com.au/" target="_blank") realestate.com.au
      %span.footer Ltd
    %li.divider
      %img(src="/auth/assets/login/spacer.gif" width="2" height="1")
    %li.footer_margin
      %a.footer_red(href="http://www.realestate.com.au/cgi-bin/rsearch?a=v&t=ao-wel&id=573" target="_blank") About Us
      %span.footer_divider &nbsp;|&nbsp;
    %li
      %a.footer_red(href="http://www.realestate.com.au/cgi-bin/rsearch?a=v&t=ao-wel&id=583" target="_blank") Advertise With Us
      %span.footer_divider &nbsp;|&nbsp;
    %li
      %a.footer_red(href="http://www.realestate.com.au/cgi-bin/rsearch?a=v&t=ao-wel&id=65" target="_blank") Contact Us
      %span.footer_divider &nbsp;|&nbsp;
    %li
      %a.footer_red(href="http://www.realestate.com.au/cgi-bin/rsearch?a=feedback&t=ao-wel&to=suggestions" target="_blank") Feedback
      %span.footer_divider &nbsp;|&nbsp;
    %li
      %a.footer_red(href="http://www.realestate.com.au/cgi-bin/rsearch?a=v&t=ao-wel&id=13" target="_blank") Legal
      %span.footer_divider &nbsp;|&nbsp;
    %li
      %a.footer_red(href="http://www.realestate.com.au/cgi-bin/rsearch?a=v&t=ao-wel&id=587" target="_blank") Privacy
      %span.footer_divider &nbsp;|&nbsp;