/* line 1, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.depth-10 {
  position: relative;
  z-index: 100;
}

/* line 2, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.depth-9 {
  position: relative;
  z-index: 90;
}

/* line 3, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.depth-8 {
  position: relative;
  z-index: 80;
}

/* line 4, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.depth-7 {
  position: relative;
  z-index: 70;
}

/* line 5, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.depth-6 {
  position: relative;
  z-index: 60;
}

/* line 6, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.depth-5 {
  position: relative;
  z-index: 50;
}

/* line 7, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.depth-4 {
  position: relative;
  z-index: 40;
}

/* line 8, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.depth-3 {
  position: relative;
  z-index: 30;
}

/* line 9, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.depth-2 {
  position: relative;
  z-index: 20;
}

/* line 10, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.depth-1 {
  position: relative;
  z-index: 10;
}

/* line 12, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.hint {
  position: absolute;
  z-index: 1;
  margin-top: -10px;
  margin-left: -10px;
  background: transparent;
}

/* line 20, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.listing-form fieldset legend {
  padding-left: 0px;
  margin: -10px 0px 0px -7px !important;
}

/* line 27, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.listing-form fieldset {
  padding: 0px 0px 2em 0px;
}

/* line 32, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.listing-form fieldset legend span {
  padding-left: 0px;
  width: 698px;
}

/* line 39, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.tab-container legend span {
  width: 648px;
}

/* line 45, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.col li {
  display: block;
}

/* line 49, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.listing-form .text {
  margin-bottom: 0px;
}

/* line 54, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.listing-form fieldset ul li .msg {
  padding-bottom: 0;
}

/* line 59, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.listing-form fieldset ul li .msg span.errors {
  display: none;
}

/* line 63, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.tab-container .tab-content {
  padding-top: 15px;
  margin-top: -9px;
}

/* line 68, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.shape-transparent {
  filter: alpha(opacity=0);
}

/* line 72, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
#payment-confirmation {
  position: relative;
  left: -10px;
}
/* line 76, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
#payment-confirmation .box div {
  float: left;
}
/* line 80, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
#payment-confirmation div.clear {
  float: none;
}

/* subscription reporting */
/* line 87, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.date-range-section input[type='radio'] {
  width: 0;
  display: inline;
}

/* line 93, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.im-form ul {
  margin: 0px;
  padding: 48px 0px 0px 32px !important;
}

/* line 99, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.drop-area-bk {
  background-position: 0px 80px;
  min-height: 350px;
}

/* line 104, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.im-text span, .im-text a {
  margin-top: -15px;
}

/* line 108, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.uploaded-image {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: white none repeat scroll 0 0;
  border: 1px solid #C9C9C8;
  float: left;
  height: 124px;
  margin: 0 28px 5px 0;
  padding: 0;
  width: 137px;
}

/* line 121, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.price-wrap {
  float: right !important;
}

/* line 125, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
#payment-confirmation {
  margin-left: 25px;
}

/* line 130, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
.align-middle {
  position: relative;
  top: 25%;
}

/* line 135, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
#price-replacement-parent .jqEasyCounterMsg {
  width: 339px;
}

/* line 139, /Users/siebert_lubbe/Programming/cp-auth/lib/assets/stylesheets/ie7.scss */
#headline-parent .jqEasyCounterMsg {
  width: 400px;
}
